# Dependências
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Arquivos de ambiente
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos de dados
backend/db.json

# Logs
logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Editores
.idea/
.vscode/
*.swp
*.swo 